<%- include('../partials/header') %>

<link rel="stylesheet" href="/events/css/events-index.css">

<div class="jumbotron">
    <h1 class="display-4">EVENTS</h1>
    <p class="lead">Engage in implausible competitions designed to test your capabilities and knowledge and advance the
        fields of technology and science like never before!</p>
</div>

<div class="container">
    <div class="row">

        <div class="card-wrapper col-md-6 col-xs-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="/events/img/cse.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="card-title">CSE/IT Tech Events</h3>
                    <div class="card-content">
                        <p class="card-text">The ultimate test of engineering excellence, teamwork, strategy, and gaming
                            is here! Explore the CSE/IT Competitions, participate and win exciting prizes.</p><br>
                        <a href="/events/cse-it">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-wrapper col-md-6 col-xs-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="/events/img/ece.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="card-title">ECE Technical Events</h3>
                    <div class="card-content">
                        <p class="card-text">“It doesn’t matter where you came from, who believed in you and who didn’t.
                            This is our time!” Explore the competitions, participate and win exciting prizes.</p><br>
                        <a href="/events/ece">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-wrapper col-md-6 col-xs-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="/events/img/informal.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Informal Events</h3>
                    <div class="card-content">
                        <p class="card-text">Get ready to land on the Battleground and show off your Gaming Skills to
                            have some fun and win exciting prizes.</p><br>
                        <a href="/events/informal">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-wrapper col-md-6 col-xs-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="/events/img/mech.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Mechanical Events</h3>
                    <div class="card-content">
                        <p class="card-text">Brush up your skills and get ready to show to the World that you are the
                            true Mechanical Mastermind!</p><br>
                        <a href="/events/mae">EXPLORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
