<%- include('./partials/header') %>

<link rel="stylesheet" href="https://use.typekit.net/ljn4kgu.css">
<link rel="stylesheet" type="text/css" href="/meetourteam/css/base.css" />
<script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Limelight&family=Merienda+One&family=Metal+Mania&family=Monofett&family=Rye&display=swap" rel="stylesheet">

<body class="loading">
    <main>
        <div class="frame">
            <h1>Meet Our Team</h1>
            <div class="frame__links">
            </div>
        </div>
        <div class="content">
            <div class="block" data-fx="1">
            </div>
            <div class="block" data-fx="3" style="padding-bottom: 10rem;">
                <a class="block__link" data-img="img/1.jpg"><span>Sataakshi Bhangelwal</span><br><span class="subt">Convener</span></a><br><br>
                <a class="block__link" data-img="img/2.JPG"><span>Urvi goel</span><br><span class="subt">Co-Convener</span></a><br><br>
                <a class="block__link" data-img="img/6.jpg"><span>Oshin Saini</span><br><span class="subt">Treasurer</span></a><br><br>
                <a class="block__link" data-img="img/3.jpg"><span>Sakshi Patel</span><br><span class="subt">Web Development Team Head</span></a><br><br>
                <a class="block__link" data-img="img/4.jpeg"><span>Lisa Chandra</span><br><span class="subt">Web Development Team Head</span></a><br><br>
                <a class="block__link" data-img="img/5.jpg"><span>Nitasha Dhingra</span><br><span class="subt">HR Head</span></a><br><br>
                <a class="block__link" data-img="img/7.jpg"><span>Riya</span><br><span class="subt">HR Head</span></a><br><br>
                
                <a class="block__link" data-img="img/16.jpeg"><span>Himanshi Gupta</span><br><span class="subt">Creative Team Head</span></a><br><br>
                <a class="block__link" data-img="img/14.jpg"><span>Anushka Sharma</span><br><span class="subt">Creative Team Head</span></a><br><br>
                <a class="block__link" data-img="img/15.jpg"><span>Shweta</span><br><span class="subt">Creative Team Head</span></a><br><br>
                <a class="block__link" data-img="img/10.jpg"><span>Aamiya Garg</span><br><span class="subt">Sponsorship Team Head</span></a><br><br>
                <a class="block__link" data-img="img/11.jpg"><span>Ashima</span><br><span class="subt">Sponsorship Team Head</span></a><br><br>
                <a class="block__link" data-img="img/17.jpeg"><span>Dhruvi Mathur</span><br><span class="subt">CSE/IT Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/18.jpg"><span>Payal Budhiraja</span><br><span class="subt">CSE/IT Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/20.jpg"><span>Aashika Singh</span><br><span class="subt">ECE Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/19.jpg"><span>Divya Pant</span><br><span class="subt">ECE Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/22.jpg"><span>Unnati</span><br><span class="subt">MAE Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/21.jpg"><span>Disha Garg</span><br><span class="subt">MAE Technical Team Head</span></a><br><br>
                <a class="block__link" data-img="img/12.jpg"><span>Sweta Sharma</span><br><span class="subt">Informal Team Head</span></a><br><br>
                <a class="block__link" data-img="img/13.JPG"><span>Bhavya</span><br><span class="subt">Informal Team Head</span></a><br><br>
                <a class="block__link" data-img="img/8.jpg"><span>Shreya Arora</span><br><span class="subt">PR Team Head</span></a><br><br>
                <a class="block__link" data-img="img/9.jpg"><span>Priyanka</span><br><span class="subt">PR Team Head</span></a><br><br>
                <a class="block__link" data-img="img/23.jpg"><span>Kritleen Kaur</span><br><span class="subt">Content Team Head</span></a><br><br>
            </div>
        </div>
    </main>
    <script src="/meetourteam/js/charming.min.js"></script>
    <script src="/meetourteam/js/imagesloaded.pkgd.min.js"></script>
    <script src="/meetourteam/js/TweenMax.min.js"></script>
    <script src="/meetourteam/js/demo.js"></script>
</body>

<%- include('./partials/footer') %>