<%- include('./partials/header') %>

<link rel="stylesheet" href="https://use.typekit.net/ljn4kgu.css">
<link rel="stylesheet" type="text/css" href="/meetourteam/css/base.css" />
<script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Limelight&family=Merienda+One&family=Metal+Mania&family=Monofett&family=Rye&display=swap" rel="stylesheet">

<body class="loading">
		<main>
			<div class="message">Please try with a pointing device to see the hover effects.</div>
			<div class="frame">
				<h1>Meet Our Team</h1>
				<div class="frame__links">
<!--					<a href="https://tympanus.net/Development/PageFlipLayout/">Previous Demo</a>-->
<!--					<a href="https://tympanus.net/codrops/?p=36588">Article</a>-->
				</div>
<!--				<a class="github" href="https://github.com/codrops/ImageRevealHover/">GitHub</a>-->
			</div>
			<div class="content">
				
				<div class="block" data-fx="3">

					<a class="block__link" data-img="/meetourteam/img/1.jpg" style="color: #eed9b7"><span>Sataakshi Bhangelwal</span><br><span class="subt">Convener</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/2.JPG" style="color: #eed9b7"><span>Urvi goel</span><br><span class="subt">Co-Convener</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/6.jpg" style="color: #eed9b7"><span>Oshin Saini</span><br><span class="subt">Treasurer</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/3.jpg" style="color: #eed9b7"><span>Sakshi Patel</span><br><span class="subt">Web Development Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/4.jpeg" style="color: #eed9b7"><span>Lisa Chandra</span><br><span class="subt">Web Development Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/24.JPEG" style="color: #eed9b7"><span>Anushree Mishra</span><br><span class="subt">Media Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/23.jpg" style="color: #eed9b7"><span>Kritleen Kaur</span><br><span class="subt">Content Team Head</span></a><br><br>
					
					<a class="block__link" data-img="/meetourteam/img/5.jpg" style="color: #eed9b7"><span>Nitasha Dhingra</span><br><span class="subt">HR Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/7.jpg" style="color: #eed9b7"><span>Riya</span><br><span class="subt">HR Head</span></a><br><br>
					
					<a class="block__link" data-img="/meetourteam/img/16.jpeg" style="color: #eed9b7"><span>Himanshi Gupta</span><br><span class="subt">Creative Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/14.jpg" style="color: #eed9b7"><span>Anushka Sharma</span><br><span class="subt">Creative Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/15.jpg" style="color: #eed9b7"><span>Shweta</span><br><span class="subt">Creative Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/10.jpg" style="color: #eed9b7"><span>Aamiya Garg</span><br><span class="subt">Sponsorship Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/11.jpg" style="color: #eed9b7"><span>Ashima</span><br><span class="subt">Sponsorship Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/17.jpeg" style="color: #eed9b7"><span>Dhruvi Mathur</span><br><span class="subt">CSE/IT Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/18.jpg" style="color: #eed9b7"><span>Payal Budhiraja</span><br><span class="subt">CSE/IT Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/20.jpg" style="color: #eed9b7"><span>Aashika Singh</span><br><span class="subt">ECE Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/19.jpg" style="color: #eed9b7"><span>Divya Pant</span><br><span class="subt">ECE Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/22.jpg" style="color: #eed9b7"><span>Unnati</span><br><span class="subt">MAE Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/21.jpg" style="color: #eed9b7"><span>Disha Garg</span><br><span class="subt">MAE Technical Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/12.jpg" style="color: #eed9b7"><span>Sweta Sharma</span><br><span class="subt">Informal Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/13.JPG" style="color: #eed9b7"><span>Bhavya</span><br><span class="subt">Informal Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/8.jpg" style="color: #eed9b7"><span>Shreya Arora</span><br><span class="subt">PR Team Head</span></a><br><br>
					<a class="block__link" data-img="/meetourteam/img/9.jpg" style="color: #eed9b7"><span>Priyanka</span><br><span class="subt">PR Team Head</span></a><br><br>
					
				</div>
				
				
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
    <script src="/meetourteam/js/charming.min.js"></script>
    <script src="/meetourteam/js/imagesloaded.pkgd.min.js"></script>
    <script src="/meetourteam/js/TweenMax.min.js"></script>
    <script src="/meetourteam/js/demo.js"></script>
</body>

<%- include('./partials/footer') %>
